ROOT_DIR="~/SubClustGO"
RUNS_PATH="~/SubClustGO/runs"
DATA_PATH="~/SubClustGO/data"

WANB_API_KEY="f626e8f74266e35a50df85cac0b9054360eb1875" # Optional
WANDB_ENTITY="bioinformatics" # Optional
WANDB_PROJECT="SubClustGO" # Optional
